@using MyBlogDomain.Entities
@model List<Skill>

<section id="skills" class="skills">
    <div class="skill-content">
        <div class="section-heading text-center">
            <h2>skills</h2>
        </div>
        <div class="container background-color:black;">
            <div class="row">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-skill-content">
                        @foreach(var item in Model)
                        {
                        <div class="barWrapper">
                            <span class="progressText">@item.SkillName</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>90%</h3>
                            </div>
                        </div>
                        }
                        <!-- /.barWrapper -->

                        
                    </div>
                </div>
            </div><!-- /.row -->
        </div>	<!-- /.container -->
    </div><!-- /.skill-content-->

</section><!--/.skills-->
<!--skills end -->
