@using MyBlogDomain.Entities
@model List<About>


<section id="welcome-hero" class="welcome-hero">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="header-text">
                    @foreach (var item in Model)
                    {
                        <h2>hi <span>,</span> @item.Name <br> @item.Title <br> star <span>.</span>   </h2>
                        <p>@item.Title</p>
                    }

                    <a href="~/userimages/TarikCelebiOzgecmis.pdf" download>download turkish resume</a>
                    <a href="~/UserImages/TarikCelebiResume.pdf" download>download english resume</a>
                </div>
            </div>
        </div>
    </div>
</section>

