@using MyBlogProject.Models.AccountVMs
@model SignInVM
@{
    ViewData["Title"] = "Sign In Page";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="SignIn" method="post">
    <div class="form-group">
        <label asp-for="FirstName"><h5>First Name</h5></label>
        <input asp-for="FirstName" class="form-group" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="LastName"><h5>Last Name</h5></label>
        <input asp-for="LastName" class="form-group" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Age"><h5>Age</h5></label>
        <input asp-for="Age" class="form-group" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Email"><h5>E-Mail</h5></label>
        <input asp-for="Email" class="form-group" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Password"><h5>Password</h5></label>
        <input asp-for="Password" class="form-group" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="CheckPassword"><h5>Re-Enter Password</h5></label>
        <input asp-for="CheckPassword" class="form-group" />
    </div>
    <br />
    @* <div class="form-control">
            <select name="SubjectIds" asp-items="@Model.Subjects" multiple="multiple" class="listbox"></select>
    </div> *@
    <button type="submit" class="btn btn-success"><h3>Sign In</h3></button>
</form>



@* 
<script type="text/javascript">
    $(function () {
        $('.listbox').multiselect({
            includeSelectOption: true
        });
    });

</script> *@

