@using MyBlogDomain.Entities
@model List<Skill>
@{
    ViewData["Title"] = "Skills Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-body px-0 pt-0 pb-2">
    <div class="table-responsive p-0">
        <table class="table align-items-center justify-content-center mb-0">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Skill Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ratio</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Delete</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p class="text-sm font-weight-bold mb-0">@item.SkillName</p>
                        </td>
                        <td class="align-middle text-center">
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="me-2 text-xs font-weight-bold">60%</span>
                                <div>
                                    <div class="progress">
                                        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">@item.Level</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">
                            <a href="@Url.Action("DeleteSkill","Skill",new {SkillName=item.SkillName })" class="btn btn-danger">Delete</a>
                        </td>
                        <td class="align-middle">
                            <a href="@Url.Action("EditSkill","Skill",new {id=item.Id})" class="btn btn-secondary">Edit</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        
    </div>
</div>

