@using MyBlogProject.Models.AccountVMs
@model LoginVM
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">

    <!-- title of site -->
    <title>My Blog Site</title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="~/Template/assets/logo/favicon.png" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/Template/assets/css/font-awesome.min.css">

    <!--flat icon css-->
    <link rel="stylesheet" href="~/Template/assets/css/flaticon.css">

    <!--animate.css-->
    <link rel="stylesheet" href="~/Template/assets/css/animate.css">

    <!--owl.carousel.css-->
    <link rel="stylesheet" href="~/Template/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template/assets/css/owl.theme.default.min.css">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/Template/assets/css/bootstrap.min.css">

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/Template/assets/css/bootsnav.css">

    <!--style.css-->
    <link rel="stylesheet" href="~/Template/assets/css/style.css"> 

    <!--responsive.css-->
    <link rel="stylesheet" href="~/Template/assets/css/responsive.css">



</head>


<body>
    
    @await Html.PartialAsync("NavBarPartial");
    
 
    @await Component.InvokeAsync("FeatureList");

    @await Component.InvokeAsync("AboutList");

    @await Component.InvokeAsync("PortfolioList");

    @await Component.InvokeAsync("SkillList");


    @await Component.InvokeAsync("ExperienceList");<!--/.experience-->

    <section id="profiles" class="profiles">
        <div class="profiles-details">
            <div class="section-heading text-center">
                <h2>profiles</h2>
            </div>
            <div class="container">
                <div class="profiles-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="single-profile profile-no-border">
                                <div class="profile-txt">
                                    <a href="https://github.com/tarikcelebi"><i class="flaticon-github-logo"></i></a>
                                    <div class="profile-icon-name">github</div>
                                </div>
                                <div class="single-profile-overlay">
                                    <div class="profile-txt">
                                        <a href="https://github.com/tarikcelebi"><i class="flaticon-github-logo"></i></a>
                                        <div class="profile-icon-name">github</div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-border"></div>
                            <div class="single-profile profile-no-border">
                                <div class="profile-txt">
                                    <a href="https://www.linkedin.com/in/tar%C4%B1k-%C3%A7elebi-8773ab15a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <div class="profile-icon-name">LinkedIn</div>
                                </div>
                                <div class="single-profile-overlay">
                                    <div class="profile-txt">
                                        <a href="https://www.linkedin.com/in/tar%C4%B1k-%C3%A7elebi-8773ab15a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <div class="profile-icon-name">LinkedIn</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="single-profile profile-no-border">
                                <div class="profile-txt">
                                    <a href="https://www.kariyer.net/ozgecmis/tarikcelebi74?o=c15o"><i class="flaticon-logo-logo">K</i></a>
                                    <div class="profile-icon-name">Kariyer.net</div>
                                </div>
                                <div class="single-profile-overlay">
                                    <div class="profile-txt">
                                        <a href="https://www.kariyer.net/ozgecmis/tarikcelebi74?o=c15o"><i class="flaticon-kariyer-logo">K</i></a>
                                        <div class="profile-icon-name">Kariyer.net</div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-border"></div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("EducationList");

    <!--contact start -->
    <section id="contact" class="contact">
        <div class="section-heading text-center">
            <h2>contact me</h2>
        </div>
        <div class="container">
            <div class="contact-content">
                <div style="display: flex;
    justify-content: center;">
                    @* <div class="col-md-offset-1 col-md-5 col-sm-6">
                        <div class="single-contact-box">
                            <div class="contact-form">
                                <form action="contact.php" method="post">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="name" placeholder="Name*" name="name" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="email" placeholder="Email*" name="email" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="8" id="message" placeholder="Message" name="message" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="single-contact-btn">
                                                <button type="submit" class="contact-btn">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div><!--/.contact-form-->
                        </div><!--/.single-contact-box-->
                    </div> *@<!--/.col-->
                    <div class="col-md-offset-1 col-md-5 col-sm-6">
                        <div class="single-contact-box">
                            <div class="contact-adress">
                                <div class="contact-add-head">
                                    <h3>Tarık Çelebi</h3>
                                    <p>Jr. Software Developer</p>
                                </div>
                                <div class="contact-add-info">
                                    <div class="single-contact-add-info">
                                        <h3>Phone</h3>
                                        <p>05330293593</p>
                                    </div>
                                    <div class="single-contact-add-info">
                                        <h3>email</h3>
                                        <p>tarikcelebi97@gmail.com</p>
                                    </div>
                                </div>
                            </div><!--/.contact-adress-->
                            <div class="hm-foot-icon">
                                <ul>
                                    <li><a href="https://github.com/tarikcelebi"><i class="fa fa-github"></i></a></li><!--/li-->
                                    <li><a href="https://www.linkedin.com/in/tar%C4%B1k-%C3%A7elebi-8773ab15a/"><i class="fa fa-linkedin"></i></a></li><!--/li-->
                                </ul><!--/ul-->
                            </div><!--/.hm-foot-icon-->
                        </div><!--/.single-contact-box-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.contact-content-->
        </div><!--/.container-->

    </section>
    <!--contact end -->
    <!--footer-copyright start-->
    <footer id="footer-copyright" class="footer-copyright">
        <div class="container">
            <div class="hm-footer-copyright text-center">
                <p>
                    &copy; copyright Tarık ÇELEBİ. design and developed by <a href="https://www.linkedin.com/in/tar%C4%B1k-%C3%A7elebi-8773ab15a/">Tarık ÇELEBİ</a>
                </p><!--/p-->
            </div><!--/.text-center-->
        </div><!--/.container-->

        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top"></i>
            </div>

        </div><!--/.scroll-Top-->

    </footer><!--/.footer-copyright-->
    <!--footer-copyright end-->
    <!-- Include all js compiled plugins (below), or include individual files as needed -->

    <script src="~/Template/assets/js/jquery.js"></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="~/Template/assets/js/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="~/Template/assets/js/bootsnav.js"></script>

    <!-- jquery.sticky.js -->
    <script src="~/Template/assets/js/jquery.sticky.js"></script>

    <!-- for progress bar start-->
    <!-- progressbar js -->
    <script src="~/Template/assets/js/progressbar.js"></script>

    <!-- appear js -->
    <script src="~/Template/assets/js/jquery.appear.js"></script>

    <!-- for progress bar end -->
    <!--owl.carousel.js-->
    <script src="~/Template/assets/js/owl.carousel.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


    <!--Custom JS-->
    <script src="~/Template/assets/js/custom.js"></script>

</body>

</html>
