@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--font-family-->
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">

    <!-- title of site -->
    <title>My Blog Site</title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="~/Template/assets/logo/favicon.png" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/Template/assets/css/font-awesome.min.css">

    <!--flat icon css-->
    <link rel="stylesheet" href="~/Template/assets/css/flaticon.css">

    <!--animate.css-->
    <link rel="stylesheet" href="~/Template/assets/css/animate.css">

    <!--owl.carousel.css-->
    <link rel="stylesheet" href="~/Template/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template/assets/css/owl.theme.default.min.css">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/Template/assets/css/bootstrap.min.css">

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/Template/assets/css/bootsnav.css">

    <!--style.css-->
    <link rel="stylesheet" href="~/Template/assets/css/style.css">

    <!--responsive.css-->
    <link rel="stylesheet" href="~/Template/assets/css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <header class="top-area">
        <div class="header-area">
            @await Html.PartialAsync("HeaderPartial");
        </div>
        <div class="clearfix"></div>
    </header>

    @await Html.PartialAsync("NavBarPartial");
    
 
    @await Component.InvokeAsync("FeatureList");

    @await Component.InvokeAsync("AboutList");

    @await Component.InvokeAsync("PortfolioList");

    @await Component.InvokeAsync("SkillList");

    <!--experience start -->
    @await Component.InvokeAsync("ExperienceList");<!--/.experience-->
    <!--experience end -->
    <!--profiles start -->
    <section id="profiles" class="profiles">
        <div class="profiles-details">
            <div class="section-heading text-center">
                <h2>profiles</h2>
            </div>
            <div class="container">
                <div class="profiles-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="single-profile">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-themeforest"></i></a>
                                    <div class="profile-icon-name">themeforest</div>
                                </div>
                                <div class="single-profile-overlay">
                                    <div class="profile-txt">
                                        <a href=""><i class="flaticon-themeforest"></i></a>
                                        <div class="profile-icon-name">themeforest</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="single-profile">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-dribbble"></i></a>
                                    <div class="profile-icon-name">dribbble</div>
                                </div>
                                <div class="single-profile-overlay">
                                    <div class="profile-txt">
                                        <a href=""><i class="flaticon-dribbble"></i></a>
                                        <div class="profile-icon-name">dribbble</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="single-profile">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-behance-logo"></i></a>
                                    <div class="profile-icon-name">behance</div>
                                </div>
                                <div class="single-profile-overlay">
                                    <div class="profile-txt">
                                        <a href=""><i class="flaticon-behance-logo"></i></a>
                                        <div class="profile-icon-name">behance</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="single-profile profile-no-border">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-github-logo"></i></a>
                                    <div class="profile-icon-name">github</div>
                                </div>
                                <div class="single-profile-overlay">
                                    <div class="profile-txt">
                                        <a href=""><i class="flaticon-github-logo"></i></a>
                                        <div class="profile-icon-name">github</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-border"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="single-profile">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-flickr-website-logo-silhouette"></i></a>
                                    <div class="profile-icon-name">flickR</div>
                                </div>
                                <div class="single-profile-overlay">
                                    <div class="profile-txt">
                                        <a href=""><i class="flaticon-flickr-website-logo-silhouette"></i></a>
                                        <div class="profile-icon-name">flickR</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="single-profile">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-smug"></i></a>
                                    <div class="profile-icon-name">smungMung</div>
                                </div>
                                <div class="single-profile-overlay">
                                    <div class="profile-txt">
                                        <a href=""><i class="flaticon-smug"></i></a>
                                        <div class="profile-icon-name">smungMung</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="single-profile">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-squarespace-logo"></i></a>
                                    <div class="profile-icon-name">squareSpace</div>
                                </div>
                                <div class="single-profile-overlay">
                                    <div class="profile-txt">
                                        <a href=""><i class="flaticon-squarespace-logo"></i></a>
                                        <div class="profile-icon-name">squareSpace</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="single-profile profile-no-border">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-bitbucket-logotype-camera-lens-in-perspective"></i></a>
                                    <div class="profile-icon-name">bitBucket</div>
                                </div>
                                <div class="single-profile-overlay">
                                    <div class="profile-txt">
                                        <a href=""><i class="flaticon-bitbucket-logotype-camera-lens-in-perspective"></i></a>
                                        <div class="profile-icon-name">bitBucket</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!--/.profiles-->
    <!--profiles end -->

    <!--education start -->
    <section id="education" class="education">
        <div class="section-heading text-center">
            <h2>education</h2>
        </div>
        <div class="container">
            <div class="education-horizontal-timeline">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-horizontal-timeline">
                            <div class="experience-time">
                                <h2>2008 - 2010</h2>
                                <h3>master <span>of </span> computer science</h3>
                            </div><!--/.experience-time-->
                            <div class="timeline-horizontal-border">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                <span class="single-timeline-horizontal"></span>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <h4 class="title">
                                        university of north carolina
                                    </h4>
                                    <h5>north carolina, USA</h5>
                                    <p class="description">
                                        Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.
                                    </p>
                                </div><!--/.timeline-content-->
                            </div><!--/.timeline-->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-horizontal-timeline">
                            <div class="experience-time">
                                <h2>2004 - 2008</h2>
                                <h3>bachelor <span>of </span> computer science</h3>
                            </div><!--/.experience-time-->
                            <div class="timeline-horizontal-border">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                <span class="single-timeline-horizontal"></span>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <h4 class="title">
                                        university of north carolina
                                    </h4>
                                    <h5>north carolina, USA</h5>
                                    <p class="description">
                                        Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.
                                    </p>
                                </div><!--/.timeline-content-->
                            </div><!--/.timeline-->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-horizontal-timeline">
                            <div class="experience-time">
                                <h2>2004 - 2008</h2>
                                <h3>bachelor <span>of </span> creative design</h3>
                            </div><!--/.experience-time-->
                            <div class="timeline-horizontal-border">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                <span class="single-timeline-horizontal spacial-horizontal-line
                                    "></span>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <h4 class="title">
                                        university of bolton
                                    </h4>
                                    <h5>bolton, united kingdome</h5>
                                    <p class="description">
                                        Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.
                                    </p>
                                </div><!--/.timeline-content-->
                            </div><!--/.timeline-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!--/.education-->
    <!--education end -->
    <!--clients start -->
    <section id="clients" class="clients">
        <div class="section-heading text-center">
            <h2>clients</h2>
        </div>
        <div class="clients-area">
            <div class="container">
                <div class="owl-carousel owl-theme" id="client">
                    <div class="item">
                        <a href="#">
                            <img src="~/Template/assets/images/clients/c1.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="~/Template/assets/images/clients/c2.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="~/Template/assets/images/clients/c3.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="~/Template/assets/images/clients/c4.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="~/Template/assets/images/clients/c5.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="~/Template/assets/images/clients/c6.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="~/Template/assets/images/clients/c7.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->
                </div><!--/.owl-carousel-->
            </div><!--/.container-->
        </div><!--/.clients-area-->

    </section><!--/.clients-->
    </section><!--/.clients-->
    <!--clients end -->
    <!--contact start -->
    <section id="contact" class="contact">
        <div class="section-heading text-center">
            <h2>contact me</h2>
        </div>
        <div class="container">
            <div class="contact-content">
                <div class="row">
                    <div class="col-md-offset-1 col-md-5 col-sm-6">
                        <div class="single-contact-box">
                            <div class="contact-form">
                                <form>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="name" placeholder="Name*" name="name">
                                            </div><!--/.form-group-->
                                        </div><!--/.col-->
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="email" placeholder="Email*" name="email">
                                            </div><!--/.form-group-->
                                        </div><!--/.col-->
                                    </div><!--/.row-->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
                                            </div><!--/.form-group-->
                                        </div><!--/.col-->
                                    </div><!--/.row-->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="8" id="comment" placeholder="Message"></textarea>
                                            </div><!--/.form-group-->
                                        </div><!--/.col-->
                                    </div><!--/.row-->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="single-contact-btn">
                                                <a class="contact-btn" href="#" role="button">submit</a>
                                            </div><!--/.single-single-contact-btn-->
                                        </div><!--/.col-->
                                    </div><!--/.row-->
                                </form><!--/form-->
                            </div><!--/.contact-form-->
                        </div><!--/.single-contact-box-->
                    </div><!--/.col-->
                    <div class="col-md-offset-1 col-md-5 col-sm-6">
                        <div class="single-contact-box">
                            <div class="contact-adress">
                                <div class="contact-add-head">
                                    <h3>browny star</h3>
                                    <p>uI/uX designer</p>
                                </div>
                                <div class="contact-add-info">
                                    <div class="single-contact-add-info">
                                        <h3>phone</h3>
                                        <p>987-123-6547</p>
                                    </div>
                                    <div class="single-contact-add-info">
                                        <h3>email</h3>
                                        <p>browny@info.com</p>
                                    </div>
                                    <div class="single-contact-add-info">
                                        <h3>website</h3>
                                        <p>www.brownsine.com</p>
                                    </div>
                                </div>
                            </div><!--/.contact-adress-->
                            <div class="hm-foot-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li><!--/li-->
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li><!--/li-->
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li><!--/li-->
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li><!--/li-->
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li><!--/li-->
                                </ul><!--/ul-->
                            </div><!--/.hm-foot-icon-->
                        </div><!--/.single-contact-box-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.contact-content-->
        </div><!--/.container-->

    </section><!--/.contact-->
    <!--contact end -->
    <!--footer-copyright start-->
    <footer id="footer-copyright" class="footer-copyright">
        <div class="container">
            <div class="hm-footer-copyright text-center">
                <p>
                    &copy; copyright yourname. design and developed by <a href="https://www.themesine.com/">themesine</a>
                </p><!--/p-->
            </div><!--/.text-center-->
        </div><!--/.container-->

        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top"></i>
            </div>

        </div><!--/.scroll-Top-->

    </footer><!--/.footer-copyright-->
    <!--footer-copyright end-->
    <!-- Include all js compiled plugins (below), or include individual files as needed -->

    <script src="~/Template/assets/js/jquery.js"></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="~/Template/assets/js/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="~/Template/assets/js/bootsnav.js"></script>

    <!-- jquery.sticky.js -->
    <script src="~/Template/assets/js/jquery.sticky.js"></script>

    <!-- for progress bar start-->
    <!-- progressbar js -->
    <script src="~/Template/assets/js/progressbar.js"></script>

    <!-- appear js -->
    <script src="~/Template/assets/js/jquery.appear.js"></script>

    <!-- for progress bar end -->
    <!--owl.carousel.js-->
    <script src="~/Template/assets/js/owl.carousel.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


    <!--Custom JS-->
    <script src="~/Template/assets/js/custom.js"></script>

</body>

</html>
