<!-- Start Navigation -->
<nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

    <div class="container">

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html">My blog Page</a>
        </div><!--/.navbar-header-->
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li class=" smooth-menu active"></li>
                <li class=" smooth-menu"><a href="#portfolio">Projects</a></li>
                <li class="smooth-menu"><a href="#skills">Skills</a></li>
                <li class="smooth-menu"><a href="#experience">Experiences</a></li>
                <li class="smooth-menu"><a href="#profiles">Profile</a></li>
                <li class="smooth-menu"><a href="#education">Education</a></li>
                <li class="smooth-menu"><a href="#clients">Clients</a></li>
                <li class="smooth-menu"><a href="#contact">Contact</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="smooth-menu"><a href="#" data-toggle="modal" data-target="#signoutModal">Sign Out</a></li>
                }
                else
                {
                    <li class="smooth-menu"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                    <li class="smooth-menu"><a href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
                }

            </ul><!--/.nav -->
        </div><!-- /.navbar-collapse -->
    </div><!--/.container-->
</nav><!--/nav-->
<!-- End Navigation -->
<!--/.header-area-->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Your login form or links here -->
                <a href="@Url.Action("Login","Account")">Login</a>
            </div>
        </div>
    </div>
</div>

<!-- Sign Up Modal Pop-Up -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Your sign-up form or links here -->
                <a href="@Url.Action("SignUp","Account")">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signoutModal" tabindex="-1" role="dialog" aria-labelledby="signoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signoutModalLabel">Confirm Sign Out</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to sign out?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="@Url.Action("Logout","Account")" class="btn btn-primary">Sign Out</a>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>


